<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
<form action="/work/getToWork" name="workForm">
    <div>
        <input type="text" name="name" placeholder="이름을 입력하세요">
        <input type="text" name="time" placeholder="시간 입력 (ex: 11:31)">
    </div>
    <div>
        <input type="button" id="toWork" value="출근">
        <input type="button" id="toLeave" value="퇴근">
    </div>
</form>

</section>
</body>
</html>


<script>
    let form = workForm;
    const toWork = document.getElementById('toWork');
    const toLeave = document.getElementById('toLeave');

    toWork.addEventListener("click",function() {
        form.setAttribute("action","/work/getToWork");
        form.submit();
    })

    toLeave.addEventListener("click",function() {
        form.setAttribute("action","/work/leaveWork");
        form.submit();
    })
</script>
